<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Location</title>
</head>

<body>
    <form action="/adventures" method="POST">
        <div>
            <label for="title">Pack Name</label>
            <input type="text" name="location[title]" id="title">
            <lable for="city">City</lable>
            <input type="text" name="location[city]" id="city" placeholder="City and State">
            <button>Add Pack Location</button>
        </div>
    </form>

</body>

</html>