<footer class="footer container-fluid bg-secondary mt-auto mb-0 py-4">
    <div class="container text-light text-center">
        <span>
            The adventure stops here folks | Navot Ram / Freelance Web Solutions
        </span>
    </div>
</footer>